.btn {
  display: inline-block;
  position: relative;
  border-radius: 30px;
  padding: 8px 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  
  &.ghost {
    border: 2px solid transparent;
  }

  &.icon {
    padding-left: 55px;
    span { .no-pointers; }
    .fa, .ra {
      position: absolute;
      left:12px;
      top: 11px;
      font-size: .7rem;
    }
  }

  // Attempting to support simple animations, "tooltip" style
  .icon-event {
    &.above {
      opacity: 0;
      position: absolute;
      z-index: -2;
      left: 0;
      right: 0;
      transform: translate3d(0,-18px,0);
      transition: all .3s ease-in-out;
      font-size: 2rem;
    }
  }
  &.success,
  &.error {
    .icon-event {
      &.above {
        opacity: 1;
        z-index: 2;
        transform: translate3d(0,-52px,0);
      }
    }
  }

}