extends layout

block content
  //- Dashboard
  .section.dashboard
    .dashboard__area.dashboard--users
      .dashboard__area_title Users
      .dashboard__area_count= userCount
      a.btn.ghost.icon(href="/users")
          span.fa.fa-user-astronaut
          span Manage Users
    .dashboard__area.dashboard--screens
      .dashboard__area_title Screens
      .dashboard__area_count= screenCount
      if screenCount < 1
        a.btn.ghost.icon.modal-trigger(href="#", data-triggers-modal="newScreen")
          span.fa.fa-desktop
          span New Screen
      else
        a.btn.ghost.icon(href="#screens")
          span.fa.fa-desktop
          span Manage Screens
    .dashboard__area
      .dashboard__area_title Stats
      .dashboard__area_count 12
    .dashboard__area
      .dashboard__area_title Stats
      .dashboard__area_count 12
    .dashboard__area
      .dashboard__area_title Stats
      .dashboard__area_count 12
    .dashboard__area
      .dashboard__area_title Stats
      .dashboard__area_count 12

    
