nav.nav
  .nav__logo
    a(href="/")
      span.ra.ra-hammer-drop
      span BONKER
  .nav__links
  .nav__mobile
    a(href="/users")
      span.fa.fa-user-astronaut
    a(href="#screens")
      span.fa.fa-desktop